.site-nav{
  padding: 0.5rem 1rem;
}

.icon-view{
    display:flex;
    justify-content: space-between;
}
.menu-icon{
    width:1.5rem;
}
.list-view{
    display:none;
    a{
        color: #333;
    }
    a:hover{
        color: #00c8c8;
        text-decoration: none;
    }
}
.avenue-brand{
    font-size:1.125rem;
    font-weight: 300;    
    color:#333;
    span{
        font-weight: 700;
    }
}

@media(min-width:720px){
    .menu-icon{
        display:none;
    }
    .list-view{
        display:flex;
        li{
            margin: 0 1rem;
        }

    }
}